
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

#moto{
    font-size: 20px;
    font-weight: bold;
}


header {
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}


#main-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

#main-nav li {
    margin: 0 15px;
}

#main-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#main-nav a:hover, #main-nav a.active {
    background-color: rgba(255, 255, 255, 0.2);
}


.section-nav {
    margin-top: 30px;
}

.section-nav-btn {
    position: relative;
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.section-nav-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}


.about_me{
    text-align: left;
    margin-top: 50px;
    margin-left: 9.9%;
    margin-right: 9.9%;
    margin-bottom: 50px;
}

#about_me-header{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

#about_me-paragraph{
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
}

.slideshow-container {
    position: relative;
    max-width: 80%;
    margin: 50px auto;
}

#portfolio-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

#videoPlayer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}

#videoPlayer iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#prevBtn, #nextBtn {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
}

#prevBtn {
    left: -50px;
}

#nextBtn {
    right: -50px;
}

#prevBtn:hover, #nextBtn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.hire-me {
    text-align: left;
    margin-top: 50px;
    margin-left: 9.9%;
    margin-right: 9.9%;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

#hire_me-header {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
    margin-bottom: 20px;
}

.hire-me form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.hire-me input, .hire-me textarea {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    background-color: #2e2e2e;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
}

.hire-me button[type="submit"] {
    margin-top: 10px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 200px;
    text-align: center;
}

.hire-me button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.hire-me label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #1e1e1e;
    text-align: center;
}


.section-content {
    display: none;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#footer-icon {
    position: absolute;
    float: bottom;  
    left: 10px;   
    width: 50px;
    height: 50px;
    z-index: 0;
}